{% extends 'base.html '%} {% load static %} 
{% block title %}  
    AboutUs 
{%endblock %} {% block content %}
<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="{% url 'home:home' %}">Home</a></li>
                <li><span>About Us</span></li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        <div class="holder mt-1 py-3 py-sm-2 py-md-4 bg-cover lazyload">
            <div class="container">
                <div class="row">

                    <div class="page-title-bg py-md-3 py-xl-6">
                        <h1 style="color:cadetblue"> ABOUT US</h1>
                        <p>
                            Halgada Jersey Store is one of Itahari's finest Online shopping portal. With online customers on the skyscraper, Nepal is moving towards a digital revolution. Halgada Jersey Store is Nepal's Leading e-commerce marketplace Launched in April 2022. HGS is an emerging online Shopping solution in Itahari.

                            HGS is a definitive online shopping goal for Nepal offering totally bother free shopping background through secure and trusted portals. We offer you in popular and unique shopping experience with all your most loved brands and that's just the beginning.
                            Customers never again need to hold up in traffic, expect rebate and invest hours searching for the products and services that they need.
                            All it takes is a couple of snaps and a couple of moments to find the product and to put order(s) at HGS. 
                        </p>
                        <p>
                            <i><b>Our support is available 10.00 – 18.00 GMT + 5:45 (Sunday –
                                    Friday). We usually get back to you within 24 hours.</b></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}