{% extends 'base.html '%} {% load static %} {% block title %} Contact 
{% endblock %} {% block content %}

<div class="holder breadcrumbs-wrap mt-0">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{% url 'home:home' %}">Home</a></li>
            <li><span>Contact Us</span></li>
        </ul>
    </div>
</div>

<div class="page-content">
    <div class="holder" data-bgset="images/pages/contact-bg.webp">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 col-xl-9">
                    <div class="page-title-bg py-md-3">
                        <h1>CONTACT US</h1>
                        <p>
                            Have a great question, comment or concern? Simply fill out the
                            form below and click Submit. We will respond to all inquiries
                            within 48 business hours.Check out our
                            <a href="faq.html">Frequently Asked Questions</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="holder">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-9">
                    <div class="title-wrap">
                        <h2 class="h1-style">Get In Touch With Us</h2>
                        <div>
                            Nor again is there anyone who loves or pursues or desires to
                            obtain pain of itself, because it is pain, but because
                            occasionally in which toil and pain
                        </div>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-confirm">
                            <div class="success-confirm">
                                Thanks! Your message has been sent. We will get back to you
                                soon!
                            </div>
                            <div class="error-confirm">
                                Oops! There was an error submitting form. Refresh and send
                                again.
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row vert-margin-middle">
                                <div class="col-lg">
                                    <input type="text" name="firstName" class="form-control form-control--sm"
                                        placeholder=" First Name" required />
                                </div>
                                <div class="col-lg">
                                    <input type="text" name="lastName" class="form-control form-control--sm"
                                        placeholder="Last Name" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row vert-margin-middle">
                                <div class="col-lg">
                                    <input type="email" name="email" class="form-control form-control--sm"
                                        placeholder="Email" required />
                                </div>
                                <div class="col-lg">
                                    <input type="text" name="phone" class="form-control form-control--sm"
                                        placeholder="Phone" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-control--sm textarea--height-200" name="message"
                                placeholder="Message" required></textarea>
                        </div>
                        <button class="btn" type="submit">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="title-wrap text-center">
                <h2 class="h1-style">Our Information</h2>
                <p class="h-sub maxW-825">
                    Nor again is there anyone who loves or pursues or desires to obtain
                    pain of itself, because it is pain, but because occasionally in which
                    toil and pain
                </p>
            </div>
            <div class="text-icn-blocks-row">
                <div class="text-icn-block-hor">
                    <div class="icn">
                        <i class="icon-location"></i>
                    </div>
                    <div class="text">
                        <h4>Address:</h4>
                        <p>Level 3 178 Clarence St, Sydney NSW00 2005</p>
                    </div>
                </div>
                <div class="text-icn-block-hor">
                    <div class="icn">
                        <i class="icon-phone"></i>
                    </div>
                    <div class="text">
                        <h4>Phone:</h4>
                        <p>+3 800 555 35 35<br />+3 800 555 35 35</p>
                    </div>
                </div>
                <div class="text-icn-block-hor">
                    <div class="icn">
                        <i class="icon-info"></i>
                    </div>
                    <div class="text">
                        <h4>Hours:</h4>
                        <p>
                            Hours: 7 Days a week<br />
                            09:00am to 5:00pm
                        </p>
                    </div>
                </div>
                <div class="text-icn-block-hor">
                    <div class="icn">
                        <i class="icon-call-center"></i>
                    </div>
                    <div class="text">
                        <h4>Quick Help:</h4>
                        <p>+3 800 555 35 35<br />+3 800 555 35 35</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}