{% extends 'base.html '%} {% load static %} {% block title %} Contact 
{% endblock %} {% block content %}

<div class="holder breadcrumbs-wrap mt-0">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{% url 'home:home' %}">Home</a></li>
            <li><span>Contact Us</span></li>
        </ul>
    </div>
</div>

<div class="page-content">
  

    <div class="holder">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-9">
                    <div class="title-wrap">
                        <h2 class="h1-style">Get In Touch With Us</h2>
                        <div>
                            Nor again is there anyone who loves or pursues or desires to
                            obtain pain of itself, because it is pain, but because
                            occasionally in which toil and pain
                        </div>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{  message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <div class="row vert-margin-middle">
                                <div class="col-lg">
                                    <input type="text" name="firstName" class="form-control form-control--sm"
                                        placeholder=" First Name" required />
                                </div>
                                <div class="col-lg">
                                    <input type="text" name="lastName" class="form-control form-control--sm"
                                        placeholder="Last Name" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row vert-margin-middle">
                                <div class="col-lg">
                                    <input type="email" name="email" class="form-control form-control--sm"
                                        placeholder="Email" required />
                                </div>
                                <div class="col-lg">
                                    <input type="text" name="phone" class="form-control form-control--sm"
                                        placeholder="Phone" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-control--sm textarea--height-200" name="message"
                                placeholder="Message" required></textarea>
                        </div>
                        <button class="btn" type="submit">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}