{%  extends 'base.html '%}
{% load static %}

{% block title %}
Return and  Exchange 
{% endblock %}

{% block content %}
<div class="holder breadcrumbs-wrap mt-0">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{% url 'home:home' %}">Home</a></li>
            <li><span>Return and Exchange </span></li>
        </ul>
    </div>
</div>
<div class="container">
    <p>
        Returns
You have 3 calendar days in order to return the product from the date of delivery. To be acceptable for a return, the product mustn’t have been used and must be in the original condition as you received it. The product must be in original packaging and requires the receipt you received during your purchase for proof of purchase.

The 3 Days Return period starts from the time of the first attempted delivery.

Disclaimer: Change of Mind return policy is applicable only to certain categories and restricted to certain sellers only.

 

Refunds
As soon as we receive the product, we will observe it and notify you that the product is well received. If the refund is approved, you can shop through OkDam for other same priced items of your choice anytime according to your preference. You can also purchase product of higher budget by adding the surplus amount. We provide you with this privilege since okdam.com doesn’t offer cash back policy.

Note:  If customer asked for refund after online payment, Okdam will deduct gateway charge from the paid amount.
    </p>

</div>

{% endblock %}