{% extends 'base.html '%}
{% load static %}

{% block title %}
{{ product.category.name  }}
{% endblock %}

{% block content %}



<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="{% url 'home:home' %}">Home</a></li>
                <li><span>{{ category.name }}</span></li>
            </ul>
        </div>
    </div>

    <div class="holder">
        <div class="container">
            <div class="page-title text-center">
                <div class="title-wrap text-center">
                    <h2 style="color: brown;" class="h1-style">Featured Products</h2>
                    <hr color="#1BECB4" style="width:50%;text-align:center;">
                    <!-- <div class="h-sub maxW-825">Hurry up! Limited</div> -->
                </div>
            </div>



            <div class="filter-row">
                <div class="row">
                    <div class="items-count">{{ countProd }} items </div>
                    <div class="select-wrap d-none d-md-flex">
                        <div class="select-label">Filter BY:</div>
                        <div class="select-wrapper select-wrapper-xxs">
                            <select class="form-control input-sm">
                               
                                {% for prod in allProd %}
                                <option value="featured">{{ prod.name }}</option>
                               {% endfor %}
                            </select>
                        </div> 
                    </div>
                    <div class="select-wrap d-none d-md-flex">
                        <div class="select-label">Sort BY:</div>
                        <div class="select-wrapper select-wrapper-xxs">
                            <select name="sort" id="sort-list" onchange="location = finalurl();" class="form-control input-sm">  
                                <option id="placeholder" value=""  disabled selected hidden>Click to Sort</option>
                                <option id="name" value="name">Alphabetically, Ascending</option>
                                <option id="-name" value="-name">Alphabetically, Descending</option>
                                <option id="price" value="price">Price, Low to High</option>
                                <option id="-price" value="-price">Price , High to Low</option>
                                <option id="rating" value="rating">Most Popular</option>
                            </select>
                        </div>
                    </div>
                    <div class="select-wrap d-none d-md-flex">
                        <div class="select-label">VIEW:</div>
                        <div class="select-wrapper select-wrapper-xxs">
                            <form>
                            <select class="form-control input-sm" onchange="this.form.submit()" name = 'page_size_val'>
                                <option value="1" {%if page_size_val == 1 %}selected{%endif%}>1</option>
                                <option value="2" {%if page_size_val == 2 %}selected{%endif%}>2</option>
                                <option value="3" {%if page_size_val == 3 %}selected{%endif%}>3</option>
                            </select>
                            <input type="hidden" name="sort_by" value="{{sort_by}}">
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <!-- mobile view -->
            <div class="row">
                <div class="col-lg-4 aside aside--left filter-col filter-mobile-col filter-col--sticky js-filter-col"
                    data-grid-tab-content>
                    <div class="filter-col-content filter-mobile-content">

                        <div class="sidebar-block d-filter-mobile">
                            <h3 class="mb-1">SORT BY</h3>
                            <div class="select-wrapper select-wrapper-xs">
                                <select class="form-control">
                                    <option value="featured">Featured</option>
                                    <option value="rating">Rating</option>
                                    <option value="price">Price</option>
                                </select>
                            </div>
                        </div>
                        <div class="sidebar-block filter-group-block open">
                            <div class="sidebar-block_title">
                                <div class="sidebar-block d-filter-mobile">
                                    <h3 class="mb-1">Filter By</h3>
                                    <div class="select-wrapper select-wrapper-xs">
                                        <select class="form-control">
                                            <option value="featured">Club</option>
                                            <option value="rating">Player</option>
                                            <option value="price">Most Selling</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>



                        <div class="sidebar-block filter-group-block collapsed">

                            <div class="sidebar-block_content">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="filter-toggle js-filter-toggle">
                    <div class="loader-horizontal js-loader-horizontal">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <span class="filter-toggle-icons js-filter-btn"><i class="icon-filter"></i><i
                            class="icon-filter-close"></i></span>
                    <span class="filter-toggle-text"><a href="#" class="filter-btn-open js-filter-btn">REFINE &
                            SORT</a><a href="#" class="filter-btn-close js-filter-btn">RESET</a><a href="#"
                            class="filter-btn-apply js-filter-btn">APPLY & CLOSE</a></span>
                </div>
                <!-- end filter and search -->
                <div class="col-lg aside">
                    <div class="prd-grid-wrap position-relative">
                        <div class="prd-grid data-to-show-4 data-to-show-lg-4 data-to-show-md-3 data-to-show-sm-2 data-to-show-xs-2 js-category-grid"
                            data-grid-tab-content>

                            {% for product in products %}
                            <div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
                                <div class="prd-inside">
                                    <div class="prd-img-area">
                                        <a href="{{ product.get_absolute_url }}"
                                            class="prd-img image-hover-scale image-container">
                                            <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'images/NoImage.png' %}{% endif %}"
                                                data-src="" alt="" class="js-prd-img lazyload fade-up">
                                        </a>
                                        <div class="prd-circle-labels">
                                            <form action='{% url 'home:add_wishlist' product.id %}' method="get">
                                            <button type="submit"
                                            class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
                                            title="Add To Wishlist"><i class="icon-heart-hover"></i></button>
                                            </form>
                                                {% comment %} <a href="#"
                                                class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
                                                 data-product="{{product.id}}" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a> {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="prd-info">
                                        <div class="prd-info-wrap">
                                            <div class="prd-rating justify-content-center"><i
                                                    class="icon-star-fill fill"></i><i
                                                    class="icon-star-fill fill"></i><i
                                                    class="icon-star-fill fill"></i><i
                                                    class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i>
                                            </div>
                                            <div class="prd-tag"><a href="{% url 'home:categoryItem' product.category.id product.category.slug  %}">{{ product.category.name }}</a></div>
                                            <h2 class="prd-title"><a href="#">{{ product.name }}</a></h2>

                                        </div>
                                        <div class="prd-hovers">
                                            <div class="prd-price">
                                                <div class="price-new">${{ product.myPrice }}</div>
                                            </div>
                                            <div class="prd-action">
                                                <div class="prd-action-left">
                                                    <form method="post" action="{{ product.get_absolute_url }}">
                                                        {% csrf_token %}
                                                        <button class="btn js-prd-addtocart"
                                                           >View Product</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class='container'  style="width:150px; margin:0 auto;" >
        {% include "pagination.html" with page=products %}
    </div>
   
  

</div>

{% endblock %}


