{%  extends 'base.html '%}
{% load static %}

{% block title %}
Shipping and Delivery
{% endblock %}

{% block content %}
<div class="holder breadcrumbs-wrap mt-0">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{% url 'home:home' %}">Home</a></li>
            <li><span>Shipping and Delivery </span></li>
        </ul>
    </div>
</div>
<div class="container">
    <p>
        It will be your sole responsibility to pay for the shipping charge during the return of the product. In the case that after receiving the product you do not prefer it or wish to exchange it with other product/s, the shipping charge is non-refundable. But if the company bears the responsibility of damaged or lower quality (than stated at okdam.com) product, the shipping charge is waived during the exchange.
    </p>
	


</div>

{% endblock %}