{%  extends 'base.html '%}
{% load static %}

{% block title %}
Purchase History
{% endblock %}

{% block content %}


<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
	<div class="container">
		<ul class="breadcrumbs">
			<li><a href="{% url 'home:home' %}">Home</a></li>
			<li><span>Order History</span></li>
		</ul>
	</div>
</div>
	<div class="holder">
	<div class="container">
		<div class="row">
			<div class="col-md-4 aside aside--left">
				<div class="list-group">
                    <a href="{% url 'account:profile' %}" class="list-group-item ">Account Details</a>
                    <a href="{% url 'account:address' %}" class="list-group-item">My Addresses</a>
                    <a href="{% url 'account:wishlist' %}"class="list-group-item">My Wishlist</a>
                    <a href="{% url 'account:history' %}" class="list-group-item">My Order History</a>
					
				</div>
			</div>
			<div class="col-md-14 aside">
			<h1 class="mb-3">Order History</h1>
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-order-history">
						<thead>
						<tr>
							
							<th scope="col">Order Number</th>
							<th scope="col">Order Date </th>
							<th scope="col">Email</th>
							<th scope="col">Shipping Address</th>
							<th scope="col"></th>
						</tr>
						</thead>
						<tbody>
							{% for h in ordHist %}
						<tr>
							<td><b>{{h.id}}</b><a href="{% url 'account:historyDetail' %}" class="ml-1">View Details</a></td>
							<td>{{ h.orderedOn }}</td>
							<td>{{h.email}}</td>
							<td><span class="color">{{h.state}},{{h.address}}</span></td>
							<td><a href="{% url 'account:pdf_download' %}" class="btn btn--grey btn--sm">Download Invoice</a></td>

						</tr> 
						{% comment %} <tr>
							<td><b>{{h.product}}</b></td>
							<td>{{ h.orderedOn }}</td>
							<td>{{h.email}}</td>
							<td><span class="color">{{h.state}},{{h.address}}</span></td>
							<td><a href="{% url 'account:pdf_download' %}" class="btn btn--grey btn--sm">Download Invoice</a></td>

						</tr> {% endcomment %}
						{% endfor %}
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
	</div>
</div>
</div>



{% endblock %}