{%  extends 'base.html '%}
{% load static %}

{% block title %}
Purchase History
{% endblock %}

{% block content %}


<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
	<div class="container">
		<ul class="breadcrumbs">
			<li><a href="{% url 'home:home' %}">Home</a></li>
			<li><span>Order History</span></li>
		</ul>
	</div>
</div>
	<div class="holder">
	<div class="container">
		<div class="row">
			<div class="col-md-4 aside aside--left">
				<div class="list-group">
                    <a href="{% url 'account:profile' %}" class="list-group-item ">Account Details</a>
                    <a href="{% url 'account:address' %}" class="list-group-item">My Addresses</a>
                    <a href="{% url 'account:wishlist' %}"class="list-group-item">My Wishlist</a>
                    <a href="{% url 'account:history' %}" class="list-group-item">My Order History</a>
					
				</div>
			</div>
			<div class="col-md-14 aside">
			<h1 class="mb-3">Order History</h1>
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-order-history">
						<thead>
						<tr>
							
							<th scope="col">Order Number</th>
							<th scope="col">Order Date </th>
							<th scope="col">Email</th>
							<th scope="col">Shipping Address</th>
							<th scope="col"></th>
						</tr>
						</thead>
						<tbody>
							{% for h in ordHist %}
						<tr>
							<td><b>{{h.id}}</b><a href="{% url 'account:historyDetail' h.id   %}" class="ml-1">Details</a></td>
							<td>{{ h.orderedOn|date:"M d, Y"  }}</td>
							<td>{{h.email}}</td>
							<td><span class="color">{{h.state}},{{h.address}}</span></td>
							<td><a href="{% url 'account:pdf_download' %}" class="btn btn--grey btn--sm">Download Invoice</a></td>

						</tr> 
						{% comment %} <tr>
							<td><b>{{h.product}}</b></td>
							<td>{{ h.orderedOn }}</td>
							<td>{{h.email}}</td>
							<td><span class="color">{{h.state}},{{h.address}}</span></td>
							<td><a href="{% url 'account:pdf_download' %}" class="btn btn--grey btn--sm">Download Invoice</a></td>

						</tr> {% endcomment %}
						{% endfor %}
						</tbody>
					</table>
				
				</div>
				<div class="text-right mt-2">
					<div class="prd-block_info_item">
						<ul class="prd-block_links list-unstyled">
							<li><a href="#" data-fancybox class="modal-info-link"
									data-src="#sizeGuide"><h2 style="width:900%;text-align:center; color: green;">Click to Refund</h2></a></li>
						

						</ul>
						<div id="sizeGuide" style="display: none;" class="modal-info-content modal-info-content-lg">
					
							<div class="table-responsive">
								<form method="post" action="{% url 'order:refund'   %}"> 
									{% csrf_token %}
									<h2>We will verify your request and return the money.</h2>
									<div class="form-group">
										<label for="exampleFormControlInput1">Username</label>
										<input name="username" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Sanjay">
									  </div>
									<div class="form-group">
									  <label for="exampleFormControlInput1">Email address</label>
									  <input name="email" type="text" class="form-control" id="exampleFormControlInput1" placeholder="sanjaybista82@gmail.com">
									</div>
									<div class="form-group">
										<label for="exampleFormControlInput1">Phone</label>
										<input name="phone" type="text" class="form-control" id="exampleFormControlInput1" placeholder="9819069112">
									  </div>
									<div class="form-group">
										{% for ord in refundOrd %}
									  <label for="exampleFormControlSelect1">Select Order</label>
									  <select name="refundOrder" class="form-control" id="exampleFormControlSelect1">
										<option>{{ord.id}}</option>

									  </select>
									  {% endfor %}
									</div>
									
									<div class="form-group">
									  <label for="exampleFormControlTextarea1">Reason To Refund</label>
									  <textarea name="reason" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
									</div>
									<div class="text-center">
										<button class="btn">Send Refund Request</button>
									</div>
								  </form>
							  
							</div>
						</div>
				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>



{% endblock %}