{%  extends 'base.html '%}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{% url 'home:home' %}">Home</a></li>
            <li><span>Account Login</span></li>
        </ul>
    </div>
</div>
    <div class="holder">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-18 col-lg-12">
                <h2 class="text-center">Login</h2>
                <div class="form-wrapper">
                    <h4 class="text-center"> <p>Don't Have an Account ? <a href="{% url 'account:register' %}">Create Account</a></p></h4>
                    <form method="post" action="#">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" class="form-control" name="username" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control"  name="password" placeholder="Password ">
                        </div>
                        
                        
                        <div class="text-center">
                            <button class="btn">Login</button>
                        </div>
                        <div>
                            <h4 class="text-center"> <p> <a href="{% url 'account:forgot' %}">Forgot Password</a></p></h4>    
                            <h2 class="text-center">You can login with</h2>
                        </div>
                       
                        <div class="text-center">
                            <div class="col">
                                <a href="#" class="fb">
                                  <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                                 </a>
                                 
                                <a href="#" class="google"><i class="fa fa-google fa-fw">
                                  </i> Login with Google+
                                </a>
                              </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}