{%  extends 'base.html '%}
{% load static %}

{% block title %}
My Address
{% endblock %}

{% block content %}
<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
	<div class="container">
		<ul class="breadcrumbs">
			<li><a href="{% url 'home:home' %}">Home</a></li>
			<li><span>Address</span></li>
		</ul>
	</div>
</div>

<div class="holder">
    <div class="container">
        <form action="{% url 'account:updateAddress' %}" method="post">
            {% csrf_token %}
        <div class="row">
            <div class="col-md-4 aside aside--left">
                <div class="list-group">
                    <a href="{% url 'account:profile' %}" class="list-group-item ">Account Details</a>
                    <a href="{% url 'account:address' %}" class="list-group-item">My Addresses</a>
                    <a href="{% url 'account:wishlist' %}"class="list-group-item">My Wishlist</a>
                    <a href="{% url 'account:history' %}" class="list-group-item">My Order History</a>
                    
                </div>
            </div>
            <div class="col-md-14 aside">
                
                <h1 class="mb-3">My Addresses</h1>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="card">
                            <div class="card-body">
                                <h3>Add Address</h3>
                                <p> Username: {{request.user.username }}
                                    {% if user.is_authenticated %}
                                    <br> State: {{ user.address.state }}
                                    <br> District: {{ user.address.district }} 
                                   <br> City: {{ user.address.address }}
                                   <br> Postal Code: {{ user.address.postal }}</p>
                                    {% endif %}
                                <div class="mt-2 clearfix">
                                    <a href="#" class="link-icn js-show-form" data-form="#updateAddress"><i class="icon-pencil"></i>Edit</a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="card mt-3 d-none" id="updateAddress">
                    <div class="card-body">
                        <h3>Edit Address</h3>
                        <label class="text-uppercase">State:</label>
                        <div class="form-group">
                            <input type="text" name="state" class="form-control form-control--sm" required >
                        </div>
                        <label class="text-uppercase">District:</label>
                        <div class="form-group">
                            <input type="text" name="district" class="form-control form-control--sm" required >
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="text-uppercase">Address:</label>
                                <div class="form-group">
                                    <input type="text" name="address" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="text-uppercase">zip/postal code:</label>
                                <div class="form-group">
                                    <input type="text" name="postal" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mt-2">
                            <button type="reset" class="btn btn--alt js-close-form" data-form="#updateAddress">Cancel</button>
                            <button type="submit" class="btn ml-1">Add Address</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>



{% endblock %}