{%  extends 'base.html '%}
{% load static %}

{% block title %}
My Profile
{% endblock %}

{% block content %}
<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
	<div class="container">
		<ul class="breadcrumbs">
			<li><a href="{% url 'home:home' %}">Home</a></li>
			<li><span>Profile</span></li>
		</ul>
	</div>
</div>

<div class="holder">
    <div class="container">
        <div class="row">
            <div class="col-md-4 aside aside--left">
                <div class="list-group">
                    <a href="{% url 'account:profile' %}" class="list-group-item ">Account Details</a>
                    <a href="{% url 'account:address' %}" class="list-group-item ">My Addresses</a>
                    <a href="{% url 'account:wishlist' %}"class="list-group-item">My Wishlist</a>
                    <a href="{% url 'account:history' %}" class="list-group-item">My Order History</a>
                    
                </div>
            </div>
            <div class="col-md-14 aside">
                <h1 class="mb-3">Account Details</h1>
                <div class="row vert-margin">
                    <div class="col-sm-9">
                        <div class="card">
                            <div class="card-body">
                                <h3>Personal Info</h3>
                                <p><b>First Name:</b> {{ request.user.first_name }}<br>
                                    <b>Last Name:</b> {{ request.user.last_name}}<br>
                                    <b>E-mail:</b> {{ request.user.email }} <br>
                                    <b>Phone:</b> {{ request.user.phone_number }}</p>
                                <div class="mt-2 clearfix">
                                    <a href="#" class="link-icn js-show-form" data-form="#updateDetails"><i class="icon-pencil"></i>Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3 d-none" id="updateDetails">
                    <form action="{% url 'account:updateProfile' %}" method="post">
                        {% csrf_token %}
                    <div class="card-body">
                        <h3>Update Account Details</h3>
                        

                        <div class="row mt-2">
                            <div class="col-sm-9">
                                <label class="text-uppercase">First Name:</label>
                                <div class="form-group">
                                    <input type="text" name="firstName" class="form-control form-control--sm" value={{ request.user.first_name }}>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <label class="text-uppercase">Last Name:</label>
                                <div class="form-group">
                                    <input type="text" name="lastName" class="form-control form-control--sm" value={{ request.user.last_name }}>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-9">
                                <label class="text-uppercase">E-mail:</label>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control form-control--sm" value={{ request.user.email }}>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <label class="text-uppercase">Phone:</label>
                                <div class="form-group">
                                    <input type="text" name="phoneNumber" class="form-control form-control--sm" value={{ request.user.phone_number }}>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="reset" class="btn btn--alt js-close-form" data-form="#updateDetails">Cancel</button>
                            <button type="submit" class="btn ml-1">Update</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}