{%  extends 'base.html '%}
{% load static %}

{% block title %}
{{ Login }}
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li><span>Reset Password</span></li>
        </ul>
    </div>
</div>
    <div class="holder">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-18 col-lg-12">
                <h2 class="text-center">Reset Password</h2>
                <div class="form-wrapper">
                    <h4 class="text-center"> <p>Go to Login Page <a href="login.html" class="custom-color" data-fancybox data-src="#modalTerms">Login</a></p></h4>    
                    <form action="#">
                        
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your E-mail">
                        </div>

                        <div class="text-center">
                            <button class="btn">Reset</button>
                        </div>
                      
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}