{%  extends 'base.html '%}
{% load static %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
    <div class="container">
        <ul class="breadcrumbs">
            <li><a href="{% url 'home:home' %}">Home</a></li>
            <li><span>Reset Password</span></li>
        </ul>
    </div>
</div>
    <div class="holder">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-18 col-lg-12">
                <h2 class="text-center">Reset Password</h2>
                <div class="form-wrapper">
                    <h4 class="text-center"> <p>Go to Login Page <a href="{% url 'account:login' %}" >Login</a></p></h4>    
                    <form action="#" method='post'>
                        {% csrf_token %}
                        <div class="form-group" style="width:300px; margin:0 auto;">
                            {{ form }}
                            
                            <button type="submit" >Reset</button>
                        </div>
                        {% comment %} <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your E-mail">
                        </div>

                        <div class="text-center">
                            <button class="btn">Reset</button>
                        </div>
                       {% endcomment %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}